/* aside */
.side_menu .clicked {
  background-color: #FCECEC;
}
.side_menu .clicked a {
  color: #4D4D4D;
}

/* article */
tr {
  height: 7rem;
}
th {
  width: 160px;
  text-align: right;
  padding-right: 10px;
}
tr .sizeChange {
  width: 480px;
}
.radioButton {
  text-align: left;
}

form {
  text-align: center;
}
.content form .submit {
  color: white;
  font-size: 3rem;
  display: inline-block;
  background-color: #008b8b;
  padding: 10px;
}
.content form .submit:hover {
  opacity: 0.5;
}